black_cupom RCDATA "src\\img\\cupom.png"
cupomW RCDATA "src\\img\\cupomW.png"
black_document RCDATA "src\\img\\document.png"
documentW RCDATA "src\\img\\documentW.png"
black_printer RCDATA "src\\img\\printer.png"
printerW RCDATA "src\\img\\printerW.png"
black_profile RCDATA "src\\img\\profile.png"
profileW RCDATA "src\\img\\profileW.png"
black_purchasing RCDATA "src\\img\\purchasing.png"
purchasingW RCDATA "src\\img\\purchasingW.png"
black_settings RCDATA "src\\img\\settings.png"
settingsW RCDATA "src\\img\\settingsW.png"
black_team RCDATA "src\\img\\team.png"
teamW RCDATA "src\\img\\teamW.png"
black_credit RCDATA "src\\img\\credit.png"
creditW RCDATA "src\\img\\creditW.png"
black_customer RCDATA "src\\img\\customer.png"
customerW RCDATA "src\\img\\customerW.png"
black_grocery RCDATA "src\\img\\grocery.png"
groceryW RCDATA "src\\img\\groceryW.png"
black_recycle RCDATA "src\\img\\recycle.png"
recycleW RCDATA "src\\img\\recycleW.png"
black_voucher RCDATA "src\\img\\voucher.png"
voucherW RCDATA "src\\img\\voucherW.png"
pg_creditcard RCDATA "src\\img\\cartao_credito.png"
pg_money RCDATA "src\\img\\real.png"
